- ga_editor_nav = "javascript: ga('send', {hitType: 'pageview',page: '/internal-links/nav/button'});"

header(role="banner")
  a(href="/community")
    img.logo(src=bird)
    h1 Community Projects

  nav(role="navigation")
    .button.hidden Sign In
    a(href="https://hyperdev.com?comingFrom=community" onclick=ga_editor_nav)
      .button.cta-button Start Coding

  form(action="/community/search" method="get" role="search")
    input.search-input(name="q")
