smallViewport = 320px

.categories
  margin-bottom: 0.5rem
  ul
    padding: 0
    margin-bottom: 0
  .category-box-link
    color: primary
    margin-right: 10px
    &:last-child
      margin-right: 0
    @media (max-width: 400px)
      &:nth-child(even)
          margin-right: 0

  li
    display: inline-block
    list-style-type: none
    margin-bottom: 10px
    &:hover
      .category-box-label
        text-decoration: underline

  .category-box
    background-color: lightgrey
    width: 167px
    height: 122px
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    @media (max-width: smallViewport)
      width: 140px
    img
      max-width: 80%
      max-height: 75%

  .category-box-label
    background-color: lightgrey
    width: 167px
    height: 37px
    font-size: 14px
    font-weight: 600
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    @media (max-width: smallViewport)
      width: 140px

.categories-link
  color: primary
  padding-bottom: 2px
  font-weight: 600
  font-size: 14px
  padding: 6px 10px
  border-radius: 3px
  background-color: secondary-background
  text-decoration: none
  display: inline-block
  &:hover
    text-decoration: underline
  &:active
    background-color: secondary-background-active
