.projects
  clear: both
  overflow: auto

  a
    color: primary
    text-decoration: none
    &:hover
      text-decoration: underline

  .category-name
    margin-bottom: 0
    padding-bottom: 1.5rem
    display: inline-flex

  .category
    float: left
    width: 35%
    max-width: 280px
    margin-bottom: 2rem
    img
      padding-bottom: 0.5rem
    .description
      font-size 14px
      max-width: 220px
    @media (max-width: 670px)
      float: none
      width: initial
      max-width: 400px
      .description
        max-width: initial


  .projects-container
    margin: 0
    float: left
    display: block
    list-style-type: none
    padding-left: 0
    @media (max-width: 670px)
      overflow-x: hidden
  
  .project
    margin-bottom: 45px
    font-size: 14px
    a
      color: primary

    .editor-link
      color: secondary
      font-family: monospace
      font-size: 13px
  
    .users
      display: inline-block
      margin-top: 12px
      .user
        display: inline-block
        img
          width: 30px
          height: auto
          position: relative
          display: inline
          border-radius: inherit

        &:first-child
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
      
        &:last-child
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px

    .meta
      vertical-align: 60%
      display: inline-block
      margin-left: 10px

    .likes
      background-image: url(heart)
      padding-left: 17px
      background-repeat: no-repeat
      background-position-y: 1px
      background-size: 14px
      display: inline-block
      color: tertiary

    .show
      display: inline-block
      margin-left: 5px
      padding: 6px 10px
      border-radius: 5px
      vertical-align: -2px
      &:hover
        background-color: secondary-background
      &:active
        background-color: secondary-background-active
  
    .description
      margin-top: 12px
